version: "3.8"

services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - SEARXNG_BASE_URL=http://localhost:8080/
      - SEARXNG_SECRET=fXi6Ww21ewtS3QZQUS1jgIESjEQjNItD5vsIqan4KrI
    volumes:
      - ./searxng:/etc/searxng
